body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9fafb;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.navegador {
    display: flex;
    justify-content: space-between;
    background-color: #888;
    height: auto;
    border-radius: 10px;
    width: 600px;
    align-items: center;


}

.nav-btn {
    border: none;
    margin-left: 10px;
    color: #f9fafb;
    text-align: center;
    width: 180px;
    height: 40px;
    background-color: #4b76f8;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

.nav-btn:hover {
    background-color: #2563eb;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 1px;
    color: rgb(235, 233, 233);
    margin-left: 50px;
}

.view-section {
    max-width: 500px;
    width: 500px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#list-view {
    display: none;

}

fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #111827;

}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-group-type {
    display: flex;
    align-items: center;
    gap: 10px;

}

#equipment-type {
    cursor: pointer;
}


.input-group-priority {
    display: flex;
    align-items: center;
    gap: 10px;
}

#priority {
    cursor: pointer;
}

label {
    font-weight: 500;
    color: #374151;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;

}

input:focus,
select:focus,
textarea:focus {
    border-color: #2563eb;
    outline: none;
}

#toast {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;

    min-width: 250px;
    padding: 12px 16px;
    border-radius: 8px;

    background-color: #16a34a;
    /* verde por defecto */
    color: #fff;
    /* texto blanco visible */
    text-align: center;
    font-size: 18px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

    visibility: hidden;
    /* oculto por defecto */
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}


#task-registration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#equipment-type {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 130px;
}



#priority {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 100px;
}

.submit-btn {
    background-color: #16a34a;
    color: white;
    border: 2px solid #16a34a;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;

}

.submit-btn:hover {
    background-color: #15803d;
}

.submit-btn:focus {
    outline: 2px solid #2563eb;
}

/* Cards Tarjetas */
.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
    
}

.task-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.task-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    border-radius: 10px;

}

.task-card-header h3 {
  white-space: normal; /* permite saltos de línea automáticos */
  max-width: 200px;
}

.edit-btn {
    background-color: #4b76f8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100px;
    height: 30px;
}

.edit-btn:hover {
    background-color: #2563eb;

}

.modal-edit {
    height: 750px;
    background-color: rgb(120, 123, 123);
    width: 400px;


}

.modal-edit label {
    color: white;
}

.form-modal-edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.contenedor-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.save-btn {
    background-color: rgb(24, 186, 24);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;

}

.cancelar-btn {
    background-color: rgb(13, 136, 237);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.delete-btn {
    background-color: rgb(219, 46, 46);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;

}

.delete-btn:hover {
    background-color: rgb(179, 36, 36);
}


.toast-eliminar {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 300px;
    min-width: 100px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #f05a1f;
    /* verde por defecto */
    color: #fff;
    /* texto blanco visible */
    text-align: center;

}

.eliminar-tarea {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}


.confirm-delete-btn{
    background-color: rgb(48, 216, 48);
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
}

.confirm-delete-btn:hover {
    background-color: rgb(34, 179, 34);
}

.cancel-delete-btn{
    background-color: rgb(26, 174, 219);
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
}

.cancel-delete-btn:hover {
    background-color: rgb(14, 130, 165);
}


.save-btn:hover {
    background-color: rgb(48, 216, 48);
}

.cancelar-btn:hover {
    background-color: rgb(26, 174, 219);
}




.task-header {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.task-card-body {
    margin-bottom: 0.5rem;
    max-width: 400px;
    white-space:normal ;
}

.task-card-body p{
    overflow-wrap: break-word;
}

.badge {
    text-align: center;
    width: auto;
    gap: 0.5rem;
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    color: black;
}

.badge-select.pendiente {
    background-color: #f4b400;
}

.badge-select.en-proceso {
    background-color: #4285f4;
}

.badge-select.completada {
    background-color: #0f9d58;
}

.badge-select.cancelada {
    background-color: #db4437;
}

option.pendiente {
    background-color: #f4b400;
    /* amarillo */
}

option.en-proceso {
    background-color: #4285f4;
    /* azul */
}

option.completada {
    background-color: #0f9d58;
    /* verde */
}

option.cancelada {
    background-color: #db4437;
    /* rojo */
}


.badge.alta {
    background-color: #d93025;
}

.badge.media {
    background-color: #fbbc05;
}

.badge.baja {
    background-color: #34a853;
}

.empty-message {
    text-align: center;
    font-style: italic;
    color: #888;
    margin-top: 2rem;
    display: none;
}

select {
    margin-bottom: 10px;
}